# docker-compose.yml

version: "3.8"

services:
  # Redis service
  redis:
    image: "redis:alpine"
    container_name: redis-cache
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
